<!doctype html>
<html lang="zh-Hant">
  <head>
    <title>site title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="google" value="notranslate">
    <meta name="author" content="boggyjan">
    <meta name="description" content="">
  </head>
  <body>
    <div>
      <header>news header</header>
      <child />
      <a href="/">back</a>
    </div>
  </body>
</html>